/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
#define BASE 0
#define BASE_MACOS 1
#define NUM 2
#define NAV 3
#define SYM 4
#define FN 5
#define MEDIA 6

// Behaviors config
&mt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};
&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

// Keymaps
/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
// ----------------------------------------------------------------------------------------------------------------- 
// | TAB  |  Q  |  W  |    E    |    R    |     T     |      |     Y    |     U      |  I     |  O  |  P  |  _     |
// | CTRL |  A  |  S  |    D    |    F    |     G     |      |     H    |     J      |  K     |  L  |  ;  |   '    |
// | SHFT |  Z  |  X  |    C    |    V    |     B     |      |     N    |     M      |  ,     |  .  |  /  | SHFT   |
//                   | LGUI/ALT | ESC/NUM | SPACE/NAV |      | ENT/FN | BSPC/SYM | MINUS/MEDIA |
                       
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R   &kp T               &kp Y &kp U   &kp I     &kp O   &kp P    &kp UNDERSCORE
   &kp LCTRL &kp A &kp S &kp D &kp F   &kp G               &kp H &kp J   &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V   &kp B               &kp N &kp M   &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                 &mt LALT LGUI &lt NUM ESC &lt NAV SPACE        &lt FN RET &lt SYM BSPC &lt MEDIA MINUS
                        >;
                };

                macos {
// -----------------------------------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |    E    |    R    |     T     |      |     Y      |     U      |  I     |  O  |  P  |  _      |
// | CTRL |  A  |  S  |    D    |    F    |     G     |      |     H      |     J      |  K     |  L  |  ;  |  '      |
// | SHFT |  Z  |  X  |    C    |    V    |     B     |      |     N      |     M      |  ,     |  .  |  /  |  SHFT   |
//                       | TAB/LGUI | ESC/NUM | SPACE/NAV |      |  ENT/LGUI  |   BSPC/SYM | `/FN   | 
                        
                        bindings = <
&kp TAB   &kp Q &kp W &kp E &kp R   &kp T               &kp Y &kp U   &kp I     &kp O   &kp P    &kp UNDERSCORE
&kp LCTRL &kp A &kp S &kp D &kp F   &kp G               &kp H &kp J   &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z &kp X &kp C &kp V   &kp B               &kp N &kp M   &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                &mt LGUI TAB &lt NUM ESC &lt NAV SPACE      &mt LGUI RET &lt SYM BSPC &lt FN GRAVE 
                        >;
                };
                
                num {
// // ----------------------------------------------------------------------------------------
// // |  ESC  |  <   |  >   |  (    |  )    |  %  |  #   |     ^     |  7   |  8    |  9  |  =  |   _       |
// // |  CTRL | LGUI | LALT |  [    |  ]    |  #  |  #   |     +     |  4   |  5    |  6  |  $  |   \       |
// // |  SHFT |  `   |  ~   |  {    |  }    |     |  #   |     *     |  1   |  2    |  3  |  /  |  SHFT     |
// //                       |       | HELD  |     |  #   | ENT/CTRL  |  0   |  -    |

                        bindings = <
   &kp ESC   &kp LT  &kp GT  &kp LPAR   &kp RPAR    &kp PRCNT          &kp CARET   &kp N7    &kp N8   &kp N9   &kp EQUAL &kp UNDERSCORE
   &kp LCTRL  &kp LGUI &kp LALT &kp LBKT &kp RBKT   &kp HASH          &kp N0   &kp N4  &kp N5 &kp N6 &kp DLLR &kp BSLH
   &kp LSHFT  &kp GRAVE   &kp TILDE  &kp LBRC  &kp RBRC  &trans          &kp ASTRK  &kp N1 &kp N2 &kp N3 &kp FSLH &kp LSHFT
                                &trans    &trans    &trans          &mt LCTRL RET  &kp N0 &kp MINUS
                        >;
                };

                nav {
// // -----------------------------------------------------------------------------------------
// // | ESC   |        |        |        |          |      |  #   |        |  PG_UP |  PG_DN |  PSCRN   | INS  | DEL |
// // | CTRL  |  LGUI  |  LALT  | LSHFT  |   LCTRL  |      |  #   |  LEFT  |  DOWN  |  UP    |  RIGHT   | TAB  |     |
// // | SHFT  |        |        |        |          |      |  #   |        |  HOME  |  END   |          |      |     |
// //                           |        |          | HELD |  #   |        |        |        |
                        bindings = <
   &kp ESC    &trans       &trans       &trans       &trans       &trans         &trans    &kp PG_UP &kp PG_DN &kp PSCRN &kp INS &kp DEL
   &kp LCTRL  &kp LGUI     &kp LALT     &kp LSHFT    &kp LCTRL    &trans         &kp LEFT  &kp DOWN  &kp UP &kp RIGHT &kp TAB  &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans    &kp HOME  &kp END &trans &trans &trans
                                        &trans       &trans       &trans         &trans  &trans   &trans
                        >;
                };

                sym {
// // -----------------------------------------------------------------------------------------
// // | ESC      |  !    |  @    |   #     |   $     | %       | #  |  ^  |  &   |  *  |  (  |  )   |  UNDERSCORE |
// // | CTRL     | LGUI  | LALT  |  LSHFT  | LCTRL   |         | #  |  `  |  =   |  +  |  {  |  }   |  "|"   |
// // | SHFT     |       |       |         |         |         | #  |     |  -   |  ,  |  .  |  /   |  SHFT  |
// //                            |   ALT   | ESC     | SPACE   | #  |     | HELD |     | 
                        bindings = <
   &kp  ESC  &kp EXCL   &kp AT   &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp UNDERSCORE
   &kp LCTRL &kp LGUI   &kp LALT &kp LSHFT   &kp LCTRL   &trans      &kp GRAVE &kp EQUAL &kp PLUS  &kp LBRC &kp RBRC &kp PIPE 
   &kp LSHFT &trans     &trans   &trans      &trans      &trans      &trans    &kp MINUS  &kp COMMA &kp DOT  &kp FSLH &kp LSHFT
                                 &kp LALT    &kp ESC     &kp SPACE   &trans    &trans    &trans
                        >;
                };
                
                fn {
// // -----------------------------------------------------------------------------------------
// // | TAB    |           |  F7  |   F8   |  F9  |   F12      | #  |        |          |        |      |      |       |
// // | LCTRL  |           |  F4  |   F5   |  F6  |   F11      | #  |        | LCTRL    | LSHFT  | LALT | LGUI |       | 
// // | LSHFT  |           |  F1  |   F2   |  F3  |   F10      | #  |        |          |        |      |      |       |
// //                             |        |      |            | #  |        |          | HELD   | 
                        bindings = <
   &kp TAB   &trans &kp F7 &kp F8 &kp F9 &kp F12   &trans  &trans  &trans &trans &trans &trans
   &kp LCTRL &trans &kp F4 &kp F5 &kp F6 &kp F11   &trans &kp LCTRL &kp LSHFT &kp LALT &kp LGUI &trans
   &kp LSHFT &trans &kp F1 &kp F2 &kp F3 &kp F10    &to BASE &to BASE_MACOS  &trans  &trans &trans &kp LSHFT
                           &kp LALT &trans  &trans  &trans   &trans  &trans
                        >;
                };

                media {
// // -----------------------------------------------------------------------------------------
// // | TAB    |     |          |              |            |                     | #  | BT0    | BT1      | BT2    | BT3  | BT4  | BT5   |
// // | LCTRL  |     |  K_MUTE  |   K_VOL_DN   |  K_VOL_UP  |   K_PLAY_PAUSE      | #  |        | LCTRL    | LSHFT  | LALT | LGUI | BTCLR | 
// // | LSHFT  |     |          |              |            |                     | #  |  BASE  |   MACOS  |        |      |      |       |
// //                           |              |            |                     | #  |        |          | HELD   | 
                        bindings = <
   &kp TAB   &trans &trans &trans &trans &trans     &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5
   &kp LCTRL &trans &kp K_MUTE &kp K_VOL_DN &kp K_VOL_UP &kp K_PLAY_PAUSE   &trans &kp LCTRL &kp LSHFT &kp LALT &kp LGUI &bt BT_CLR
   &kp LSHFT &trans &trans &trans &trans &trans  &to BASE &to BASE_MACOS  &trans  &trans &trans &kp LSHFT
                           &trans &trans  &trans  &trans   &trans  &trans
                        >;
                };
         };
};